<!-- 
<input 
type="text"
class="form-control"
(input) = "onUpdateServerName($event)">
-->
<!-- this uses two way binding-->
<input
type="text"
class="form-cont rol"
[(ngModel)]="serverName">

<!--<p>{{serverName}}</p>-->
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click) = "onCreateServer()"
    >Add Server</button>

<!--This is property binding-->
<p>{{serverCreationStatus}}</p>
<!--String interpolations -->
<!--NOTE: DO NOT USE BOTH IN THE SAME ELEMENT -->
<p>{{allowNewServer}}</p>

<app-server></app-server>
<app-server></app-server>
